@model Services.Queries.TaskView.GetTaskQueryResult

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Task</h2>


<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoggedHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoggedHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletedStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompletedStatus)
        </dd>
    </dl>
    @{
        var taskId = Model.Id;
    }

    @if (User.Identity.Name == Model.IssuedBy)
    {
        <a asp-action="UpdateTask" asp-route-id="@taskId"><button type="button" class="btn btn-primary">Update Task</button></a>
        <a asp-action="UpdateTask" asp-route-id="@taskId"><button type="button" class="btn btn-primary">Update Task</button></a>
        <a asp-action="ChangeTaskStatus" asp-route-id="@taskId">
            <button type="button" class="btn btn-primary">
                @if (!Model.CompletedStatus)
                {
                    @:Mark completed
}
                else
                {
                    @:Reopen task
}
            </button>
        </a>
    }
</div>
