@model Services.Queries.TaskView.GetTaskQueryResult

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div style="margin-top:30px;">
    <a asp-action="Index">
        <button type="button" class="btn btn-secondary float-right">Back to List</button>
    </a>
</div>

<div class="container  h-100" style="margin-top:15px;padding-top:1px;" id="task-details">
    <h2 style="margin-top:5px;">Task</h2>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoggedHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoggedHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletedStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompletedStatus)
        </dd>
        <dd>
            <form asp-action="LogHours" class="row">

                <input type="hidden" name="AggregateId" value=@Model.Id />
                <input name="HoursLogged" type="number" style="width:100px;margin-right:20px;margin-left:15px;" placeholder="0" step="0.01" class="form-control" />
                <input type="submit" value="Log hours" class="btn btn-secondary" />

            </form>
        </dd>

    </dl>
    @{
        var taskId = Model.Id;
    }

    @if (User.Identity.Name == Model.IssuedBy)
    {
        <a asp-action="UpdateTask" asp-route-id="@taskId"><button type="button" class="btn btn-primary">Update Task</button></a>
        @if (!Model.CompletedStatus)
        {
            <a asp-action="CompleteTask" asp-route-id="@taskId">

                <button type="button" class="btn btn-success task-list-button" asp-route-redirectToTaskList ="false">
                    Mark completed
                </button>
            </a>
        }
        else
        {
            <a asp-action="ReopenTask" asp-route-id="@taskId" asp-route-redirectToTaskList ="false">

                <button type="button" class="btn btn-secondary task-list-button">

                    Reopen task
                </button>
            </a>

        }
    }
</div>
