@model IEnumerable<Domain.Views.Entities.TaskListElement>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Tasks</h2>
<hr />
<p>
    
    <a asp-action="Create"><button type="button" class="btn btn-primary">New Task</button></a>
</p>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class='clickable-row' data-href='url://'>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if (item.Completed)
                    {
                        @:&check;
                    }
                    else
                    {
                        @:&cross;
                    }
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.Identity.Name == item.IssuedBy)
                    {
                        @:|

                        <a asp-action="UpdateTask" asp-route-id="@item.Id">Update Task</a> @:|

                        <a asp-action="ChangeTaskStatus" asp-route-id="@item.Id">
                            @if (!item.Completed)
                            {
                                @:Mark completed
                            }
                            else
                            {
                                @:Reopen task
                            }
                        </a>}
                </td>
            </tr>
        }
    </tbody>
</table>
<script  src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript">


    $(document).ready(function () {
        //your code here
        alert("Hello! I am an alert box!");

        alert("cum asa");
        $jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    });
   
</script>