@model IEnumerable<Domain.Views.Entities.TaskListElement>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2 style="margin-top:25px;">Tasks</h2>
<hr/>

    <a asp-action="Create"><button type="button" class="btn btn-primary float-right" style="margin-bottom:12px;">New Task</button></a>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @if (item.Completed)
                    {
                        @:&check;
                    }
                    else
                    {
                        @:&cross;
                    }
                </td>

                <td>

                    @if (User.Identity.Name == item.IssuedBy)
                    {

                        <a asp-action="UpdateTask" asp-route-id="@item.Id"><button type="button" class="btn btn-secondary">Update Task</button></a>

                        @:&emsp;

                        <a asp-action="ChangeTaskStatus" asp-route-id="@item.Id">
                            @if (!item.Completed)
                            {
                                <button type="button" class="btn btn-success">Complete Task</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-secondary">Reopen Task</button>
                            }
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
