@model IEnumerable<Domain.ContextEntities.GradeStatistics>

@{
    ViewData["Title"] = "CompletedTasksStatistics";
}


@{
    await Html.RenderPartialAsync("_statisticsNavBar");
}


<h2 style="margin-top:25px;">CompletedTasksStatistics</h2>
<hr />


<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedTasks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartedTasks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartedTopics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfReplies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoggedHours)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletedTasks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartedTasks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartedTopics)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfReplies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoggedHours)
                </td>

            </tr>
        }
    </tbody>
</table>

