@model Services.Queries.TopicView.GetTopicQueryResult

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@{
    var topicId = Model.Id;
}
<div style="margin-top:30px;">
    <a asp-action="Index">
        <button type="button" class="btn btn-secondary float-right">Back to List</button>
    </a>
</div>

<div>
    <div style="padding-top:1px;">
        <h2 style="margin-top:5%;"> @Html.DisplayFor(model => model.Title)</h2>
    </div>
    <hr />
    <a asp-action="AddNewReply" asp-route-id="@topicId"><button type="button" class="btn btn-primary float-right">New Reply</button></a>
    <table class="table table-striped" style="margin-top:70px;">
        <thead>

            <tr class="table-primary">
                @*<th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>*@
                <th>
                    @Html.DisplayFor(model => model.Content)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>*@
                <th>
                    @Html.DisplayFor(model => model.Date)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.IssuedBy)
                </th>*@
                <th>
                    @Html.DisplayFor(model => model.IssuedBy)
                </th>
                <th>

                    @if (User.Identity.Name == Model.IssuedBy)
                    {
                        <a asp-action="UpdateTopic" asp-route-id="@topicId"><button type="button" class="btn btn-primary">Update Topic</button></a>
                    }
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Replies)
            {
                <tr>

                    @*<td>
                        @Html.DisplayNameFor(modelItem => item.Content)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    @*<td>
                        @Html.DisplayNameFor(modelItem => item.Date)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    @*<td>
                        @Html.DisplayNameFor(modelItem => item.IssuedBy)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.IssuedBy)
                    </td>
                    <td>

                        @if (User.Identity.Name == item.IssuedBy)
                        {
                            <a asp-action="UpdateReply" asp-route-id="@topicId" asp-route-replyId="@item.Id"><button type="button" class="btn btn-primary">Edit</button></a>
                        }
                    </td>

                </tr>
            }

        </tbody>

    </table>
    @if (Model.Replies.Count() > 12)
    {
        <a asp-action="AddNewReply" asp-route-id="@topicId"><button type="button" class="btn btn-primary float-right" style="margin-bottom:5%;">New Reply</button></a>
    }
</div>
