@model Services.Queries.TopicView.GetTopicQueryResult

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Topic</h2>
@{
    var topicId = Model.Id;
}
<div>

    <hr />

    <a asp-action="AddNewReply" asp-route-id="@topicId">New Reply</a>
    @if (User.Identity.Name == Model.IssuedBy)
    {
        <a asp-action="UpdateTopic" asp-route-id="@topicId">Update Topic</a>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IssuedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IssuedBy)
        </dd>

    </dl>
    @foreach (var item in Model.Replies)
    {
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(modelItem => item.Content)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelItem => item.Date)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelItem => item.IssuedBy)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.IssuedBy)
        </dd>
        @if (User.Identity.Name == item.IssuedBy)
        { 
        <dd>
            <a asp-action="UpdateReply" asp-route-Id="@topicId" asp-route-replyId="@item.Id">Edit</a>
        </dd>
        }
    </dl>
    }

</div>